<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="tests">
    <test name="Pixel_2">
        <listeners>
            <listener class-name="com.qa.listeners.TestListener" />
        </listeners>
        <parameter name="emulator" value="true" />
        <parameter name="platformName" value="Android" />
        <parameter name="udid" value="emulator-5554" />
        <parameter name="deviceName" value="TestDevices" />
        <parameter name="systemPort" value="10000" />
        <parameter name="chromeDriverPort" value="11000" />
        <classes>
            <class name="com.qa.tests.HomeTests"/>
        </classes>
    </test>
</suite> <!-- Suite -->